.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.headerApp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerIcon-holder {
  display: flex;
}
.header-list nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header-list nav ul li {
  font-size: 16px;
}
.header-list nav ul li {
  margin: 0 10px 0 10px;
}
.headerIcon-holder .Icon {
  color: rgb(54, 175, 175);
  font-size: 24px;
  margin-right: 5px;
}
.headerIcon-holder h2 {
  font-weight: 400;
}
.header-list nav ul li a {
  color: #000;
}

.mobileHidden {
  display: block;
}
.mobileVisible {
  text-align: end;
  display: none;
}
@media only screen and (max-width: 991px) {
  .Pricing .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .Pricing .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}