.Works {
  padding: 40px 0;
  background: url("../../assets/images/bg-works.jpg") no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}
/* .Works::after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  } */
.Works-content {
  text-align: center;
  padding: 10px 0;
}
.Works-content h2 {
  font-weight: 700;
  font-size: 24px;
}
.Works-content p {
  font-size: 16px;
  padding-bottom: 50px;
}
.worksIcon {
  font-size: 110px;
  font-weight: 500;
}
